@font-face {
    font-family: 'PixelFont';
    src: url('../../asset/Pixelfy\ Variable.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'PixelFont';
    background-color: #FFF;
}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 0 20px;
    width: 95%;
    background-color: #fcf0c8;
    border-radius: 20px;
    box-sizing: border-box;
    margin: 0.5rem 0;
}

.logo img {
    margin-top: 0.5rem;
    width: 50px;
    height: auto;
    border-radius: 10px;
    background-color: #f7d098;
}

.nav-items {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.nav-items a {
    font-size: 1.7rem;
    font-weight: 400;
    color: #630a10;
    text-decoration: none;
    transition: color 0.3s ease;
    padding-right: 2rem;
}

.nav-items a:hover {
    color: #8b1016;
}

.footer {
    width: 95%;
    padding: 20px;
    background-color: #f7d098;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border-radius: 20px 20px 0 0;
    margin-top: 20px;
}

.copyright {
    font-family: monospace;
    font-size: 1.5rem;
    font-weight: 400;
    color: #630a10;
    text-align: center;
}

.copyright span {
    font-family: PixelFont;
}